[submodule "keymaster"]
	path = keymaster
	url = https://github.com/madrobby/keymaster
[submodule "jquery-simulate-ext"]
	path = jquery-simulate-ext
	url = https://github.com/j-ulrich/jquery-simulate-ext.git
[submodule "mustache.js"]
	path = mustache.js
	url = https://github.com/janl/mustache.js
[submodule "vendor/mustache.js"]
	path = vendor/mustache.js
	url = https://github.com/janl/mustache.js
[submodule "vendor/jquery-simulate-ext"]
	path = vendor/jquery-simulate-ext
	url = https://github.com/j-ulrich/jquery-simulate-ext
